#box{
  height: 300px;
  width: 300px;
  background-color: red;
  position: relative;
  top: 200px;
  left: 200px;
}
#box2{
  height: 250px;
  width: 250px;
  background-color: yellow;
  position: absolute;
  top: 200px;
  left: 200px;
}
#box3{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: 150px;
  left: 150px;
}
section{
  height: 800px;
  width: 100%;
  border: 2px solid black;
}
#box4{
  height: 100px;
  width: 100px;
  background-color: purple;
  position: absolute;
  top: 200px;
  left: 200px;
}