#flipkart-header {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#logo{
  height: 60px;
  width: 15%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar{
height: 60px;
width: 50%;
/* border: 2px solid yellow; */
display: flex;
align-items: center;
justify-content: center;
}

#search-icon{
  height: 45px;
  width: 50px;
  border: 1px solid #f0f0f0;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  background-color: #f0f0f0;
}
#search-bar>input{
  height: 46px;
  width: 90%;
  outline: none;
  border: 1px solid #f0f0f0;
  border-left: none;   
  border-radius: 0px 5px 5px 0px;
  background-color: #f0f0f0;
}
#search-icon>i{
  font-size: 23px;
}

#icons{
  height: 60px;
  width: 30%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}

.icon-item{
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.icon-item i{
  margin-right: 5px;
}
